<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <center>
    <h1>CMS LEARNING</h1><br>
    <a href="/teachers"><button type="Submit" name="">Teacher</button></a>
    <a href="/subjects"><button type="Submit" name="">Subject</button></a>
    <a href="/students"><button type="Submit" name="">Students</button></a>
  </center>
  </center>
  </body>
</html>
